*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
.idea/
*.orig
app/src/main/res/drawable-hdpi/profile_category_unselected_icon9.png
app/src/main/res/drawable-hdpi/profile_category_unselected_icon8.png
app/src/main/res/drawable-hdpi/profile_category_unselected_icon7.png
app/src/main/res/drawable-hdpi/profile_category_unselected_icon6.png
app/src/main/res/drawable-hdpi/profile_category_unselected_icon5.png
app/src/main/res/drawable-hdpi/profile_category_unselected_icon4.png
app/src/main/res/drawable-hdpi/profile_category_unselected_icon3.png
app/src/main/res/drawable-hdpi/profile_category_unselected_icon2.png
app/src/main/res/drawable-hdpi/profile_category_unselected_icon1.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon9.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon8.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon7.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon6.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon5.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon4.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon3.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon2.png
app/src/main/res/drawable-hdpi/profile_category_selected_icon1.png
app/src/main/res/drawable-hdpi/football_type3.png
app/src/main/res/drawable-hdpi/football_type2.png
app/src/main/res/drawable-hdpi/football_type1.png
app/src/main/res/drawable-hdpi/football_type1-03.png
app/src/main/res/layout/layout_upload_picture_REMOTE_980.xml
app/src/main/res/layout/layout_upload_picture_LOCAL_980.xml
app/src/main/res/layout/layout_upload_picture_BASE_980.xml
app/src/main/res/layout/layout_upload_picture_REMOTE_950.xml
app/src/main/res/layout/layout_upload_picture_LOCAL_950.xml
app/src/main/res/layout/layout_upload_picture_BASE_950.xml
app/src/main/java/com/fil/fsl/SignUpSelectionActivity_REMOTE_622.kt
app/src/main/java/com/fil/fsl/SignUpSelectionActivity_LOCAL_622.kt
app/src/main/java/com/fil/fsl/SignUpSelectionActivity_BASE_622.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_REMOTE_962.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_REMOTE_851.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_REMOTE_805.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_REMOTE_759.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_LOCAL_962.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_LOCAL_851.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_LOCAL_805.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_LOCAL_759.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BASE_962.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BASE_851.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BASE_805.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BASE_759.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BACKUP_962.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BACKUP_851.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BACKUP_805.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BACKUP_759.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_REMOTE_1008.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_LOCAL_1008.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BASE_1008.kt
app/src/main/java/com/fil/fsl/adapter/SearchListAdapter_BACKUP_1008.kt
app/src/main/res/values/strings_BACKUP_2077.xml
app/src/main/res/values/strings_BACKUP_2019.xml
app/src/main/res/values/strings_BASE_2019.xml
app/src/main/res/values/strings_BASE_2077.xml
app/src/main/res/values/strings_LOCAL_2019.xml
app/src/main/res/values/strings_LOCAL_2077.xml
app/src/main/res/values/strings_REMOTE_2019.xml
app/src/main/res/values/strings_REMOTE_2077.xml
app/src/main/res/values/strings_BACKUP_557.xml
app/src/main/res/values/strings_BASE_557.xml
app/src/main/res/values/strings_LOCAL_557.xml
app/src/main/res/values/strings_REMOTE_557.xml
