<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaikunj.example">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/classes"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleTask"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.vaikunj.example.view.TaskActivity"
            android:exported="false" />
        <activity
            android:name="com.vaikunj.example.view.TaskThreeActivity"
            android:exported="false" />
        <activity
            android:name="com.vaikunj.example.view.TaskTwoActivity"
            android:exported="false" />
        <activity
            android:name="com.vaikunj.example.view.SplashActivity"
            android:exported="false" />
        <activity
            android:name="com.vaikunj.example.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>